<div class="row container">
    <div class="col-lg-3 col-md-12">

    </div>

    <div class="col-lg-7 col-md-12 container mt-5 mb-5">
        <form [formGroup]="adminLoginForm" action="" class="bg-light text-center p-4">
            <h1>Admin Login</h1>
            <input formControlName="name" type="text" name="name" id="n1" placeholder="UserName" class="form-control mt-3">
            <input formControlName="psw" type="password" name="psw" id="psw" placeholder="PassWord" class="form-control mt-3">
            <button (click)="adminLogin()" class="btn btn-light bg-light mt-2">Submit</button>
        </form>
    </div>

    <div class="col-lg-3 col-md-12">

    </div>
</div>